.heading {
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    color: $white;


    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        display: flex;
        & img{
            object-fit: cover;
        }
    }

    &__c {
        box-sizing: border-box;
        padding: 15rem 0 5rem;
        position: relative;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            padding: 15rem 1rem 10rem;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            text-align: center;
            width: 100%;
            @include mobile{
                flex-direction: column;
                gap: 2rem;
            }

        }

        & .tl1 {
            margin-top: auto;
            text-align: center;
            width: min-content;
            @include desktop{
                width: 136rem;
            }

        }
        & .btn-primary{
            margin: 5rem 0 8rem;
        }
        &-bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & p {
                @include mobile{
                    font-size: 2.8rem;
                }
            }
            
        }
    }

}