.circle-btn {
    width: 33.1rem;
    height: 33.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        .circle-btn--back {
            transform: scale(1.12);
        }
    }

    &._white {
        border-color: $white !important;
        color: $white;
    }

    @include mobile {
        width: 32rem;
        height: 32rem;
        border: 0.3rem solid rgba(41, 41, 41, 0.2);
        overflow: hidden;

        &:hover {
            .circle-btn--back {
                transform: scale(1);
            }
        }
    }

    &--back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 0.15rem solid rgba(41, 41, 41, 0.2);
        transition: transform 0.5s ease-in-out;

        @include mobile {
            border: unset;
        }
    }
    &._white .circle-btn--back{
        border-color: $white !important;
    }

    &--text {
        top: 10.8rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;

        @include mobile {
            top: 9.2rem;
        }
        &-bottom{
            margin-left: 5rem;
        }
    }

    svg {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 8.8rem;
        width: 3.3rem;
        height: 3.3rem;

        @include mobile {
            bottom: 9.2rem;
            width: 4rem;
            height: 4rem;
        }
    }

    &._white {
        svg {
            path {
                stroke: white;
            }
        }
    }
}