<div class="modal modal-request ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c">
            <button class="modal__closer modal-closer"></button>
            <h2 class="tl2 txt-up">заявка</h2>
            <form class="form modal-request__form">
                <label class="form-input input-text ">
                    <input maxlength="15" class="txt18" type="text" name="name" data-required="y"
                        placeholder="Ваше имя">
                    <span class="input-text-error-msg"></span>
                </label>

                <label class="form-input input-text ">
                    <textarea maxlength="100" rows="2" class="txt18" type="text" name="commentary"
                        placeholder="Комментарий"></textarea>
                    <span class="input-text-error-msg"></span>
                </label>

                <label class="form-input input-text ">
                    <input class="txt18" type="text" name="phone" data-required="y" placeholder="+7 (___) ___-__-__">
                    <span class="input-text-error-msg"></span>
                </label>
                <button class=" modal-request__form-submit circle-btn  txt26 " type="submit">
                    <div class="circle-btn--back"></div>
                    <div class="circle-btn--text">
                        <span class="circle-btn--text-top">отправить</span>
                        <span class="circle-btn--text-bottom">заявку</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="37" viewBox="0 0 38 37" fill="none">
                            <path d="M36 1.74414L2.23774 35.5064" stroke="#292929" stroke-width="3"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M36 31.6983L36 1.74414L6.04583 1.74414" stroke="#292929" stroke-width="3"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>

                </button>
            </form>
        </div>
    </div>

</div>